*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    overflow: hidden;
    border: none;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

section{
    background-color: #ffffff;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px 25px 180px 25px;
    height: 650px;
    width: 800px;
}

.inputs{
    display: flex;
    align-items: center;
    margin-left: -110px;
}

.inputs div{
    display: flex;
    flex-direction: column;
}

.inputs h2{
    font-size: 17px;
    margin-bottom: 7px;
    text-transform: uppercase;
    opacity: 0.6;
}

.inputs input{
    height: 80px;
    width: 180px;
    border-radius: 10px;
    margin-right: 20px;
    border: 1px #8b8b8b solid;
    -moz-appearance: textfield;
    appearance: textfield;
    font-size: 37px;
    padding-left: 25px;
    outline: 0;
}

.inputs input::-webkit-inner-spin-button { 
    -webkit-appearance: none;  
}

.inputs input:focus{
    border: 2px #874cff solid;
}

.inputs small{
    margin-left: 5px;
    font-weight: 400;
    font-style: italic;
    color: red
}

.button{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: -150px;
}

.button hr{
    border: 0;
    border-top: 2px solid #CCC;
    margin: 40px 0px;
    width: 600px;
}

.button img{
    width: 110px;
    background-color: #874cff;
    cursor: pointer;
    border-radius: 100%;
    padding: 30px 30px;
    transition: .3s ease-in-out;
}

.button img:hover{
    background-color: black;
}

.display{
    display: flex;
    flex-direction: column;
    margin-top: -150px;
    margin-bottom: -30px;
    margin-left: -200px;
    font-weight: 800;
    font-style: italic;
    align-items: self-start;
}

.display h1{
    font-size: 90px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.display h1 span{
    color: #874cff;
    margin-right: 20px;
    letter-spacing: 4px;
}